.div1{
    width: 100%;
    height: 600px;
    /*border: 1px solid red;*/
    background-color: black;
    /*position: relative;*/

}
.moon{
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50% 50%;
    /*border: 1px solid #0e6bff;*/
    float: right;

}
.moon_black{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    float: right;
}
.center{
    width: 100%;
    height: 500px;
    border: 1px solid white;
    /*margin-top: 100px;*/
    display: flex;
    justify-content: center;
    /*margin-top: 190px;*/
    border-bottom: 20px solid green;
    border-top: 0px ;
}
.home{
    width: 20%;
    height: 100%;
    /*border: 1px solid red;*/
}
.hometop{
    width: 0;
    height: 0;
    border: 150px solid blue;
    border-color: transparent transparent blue transparent;
}
.stack{
    width: 40px;
    height: 100px;
    background-color: blue;
    float: right;
    position: absolute;
    right: 52%;
    top: 250px;
}

.homebody{
    width: 90%;
    height: 40%;
    background-color: #EF853D;
    margin-left: 7%;
    display: flex;
    flex-wrap: nowrap;
}
.homewindows{
    width: 40%;
    height: 40%;
    border: 1px solid white;
    margin:10%;
}

.homedoor{
    width: 30%;
    height: 80%;
    border:3px solid white ;
    margin-top:12% ;
}

.wintab{
    width: 100%;
    height: 100%;
    border-color: white;
}

td{
    border: 1px solid black;
}
.doortable{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}


.tree{
    width: 20%;
    height: 500px;
    /*border: 1px solid white;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 130px;
}
.tree1{
    width: 0;
    height: 0;
    border: 20px solid green;
    border-color: transparent transparent green transparent;
    border-top: 0px solid transparent;
    margin-left: 40%;

}
.tree2{
    /*margin-top: 20px;*/
    width: 0;
    height: 0;
    border: 40px solid green;
    border-color: transparent transparent green transparent;
    border-top: 0px solid transparent;
    margin-left: 33%;

}
.tree3{
    width: 0;
    height: 0;
    border: 80px solid green;
    border-color: transparent transparent green transparent;
    border-top: 0px solid transparent;
    margin-left: 20%;

}
.bole{
    width: 10px;
    height: 100px;
    background-color: green;
    margin-left: 47%;
}


.bland{
    background-color: #377E22;
    height: 200px;
}

