body{
    background-color: #233445;

}
.center_box{
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;

}

.login_form{
    width: 50%;
    margin-top: 10%;
}

.login_form table{
    width: 400px;
}

.center_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 25%;

}

