body{
    margin: 0;
}
.top{
    width: 100%;
    height: 100px;
    /*border:1px solid red;*/
}
.top_menu{
    display: flex;
    background-color: #f9f369;
    width: 30%;
    height: 50px;
    float: right;
    margin-right: 10%;
    padding-left: 5%;
    border-radius: 0 0 10px 10px;
    /*border-left: rgba(255,148,48,0.87) 2px solid;*/
    border-left:2px solid rgba(255,128,18,0.87);
    border-bottom: 2px solid rgba(255,128,18,0.87);
    border-right: 2px solid rgba(255,128,18,0.87);

}
.top_menu div{
    margin-right: 10px;
    padding-top: 10px;

}


/*中心部分*/

.center{
    width: 80%;
    height: 100px;
    border-bottom:5px solid #DF712E;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;

}
.center_img{
    width: 15%;
    height: 100px;
}
.center_img img {
    width: 100%;
    height: 100px;
}

.center_menu{
    display: flex;
    flex-wrap: nowrap;
    width: 85%;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;

}

.center_menu div{
    width: 8%;
    height: 40px;
    background-color: #DF712E;
    padding-top: 20px;
    border-radius: 10px 10px 0 0;
    color: white;
}
.center_menu div:hover{
    border-bottom: 4px solid white;
}
/*商品内容*/

.info_center{
    /*border:1px solid red;*/
    height: 400px;
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;

}

/*商品列表*/
.good_list{
    width: 60%;
    height: 400px;
    border: 1px solid black;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;

}


.one_food{
    width: 30%;
    height: 150px;
    /*border: 1px solid red;*/
    display: flex;
    margin: 10px;

}
.food_img_box{
    width: 50%;
    height: 150px;
    border: 1px solid blue;
}
.food_img_box img{
    width: 100%;
    height: 100%;
}
.food_info{
    font-size: small;
    /*border: 1px solid olive;*/
}
.huiyuan{
    color: red;
    font-weight: bolder;
}
td:nth-of-type(1){
    color: #0e6bff;
    width: 50%;
}


.put_button{
    width: 60%;
    height: 20px;
    background-color: #D5712D;
    color: white;
    text-align: center;
    border-radius:10px ;
    margin-left: 40%;
}

/*---------------------*/

.notice{
    width: 20%;
    height: 400px;
    /*border: 2px solid rebeccapurple;*/
}

.box1{
    width: 100%;
    height: 100px;
    border: 1px solid purple;
    background-color: rgba(249,201,115,0.26);
    border-radius: 20px;
    margin-top: 10px;
}

.box1_title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    /*border-bottom: 2px dashed red;*/
}
#ctnotice{
    font-weight: bolder;
    color: #f9c76f;
}
.box1_goods{

}
.end_box{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(249,205,142,0.26);
    width: 80%;
    margin-left: 10%;
}
.box2{
    width: 100%;
    height: 200px;
    border: 1px solid purple;
    background-color: rgba(249,201,115,0.26);
    border-radius: 20px;
    margin-top: 10px;
}

#my_food_car{
    color: #f9c76f;
    font-weight: bolder;
}
.car_info table{
    width: 90%;
    height: 100px;
    margin-left: 5%;
}

/*!*!*销售排行**/











